.venv
config
__pycache__
notebook
results
tinylamma_v1_qlora
.env
app.py
claude.ipynb
data_generator_llm.ipynb
domain_name_generation.ipynb
inference.ipynb
results.zip
test_results.csv
tinylamma_v1_qlora.zip
tinylamma_v2_qlora.zip
tinyllama_v1.zip
tinyllama_v2.zip
tinyllama_v3.zip
.DS_Store
model_fine_tuning.ipynb
data/domain_dataset_v4.jsonl